.input {
	height: max-content;

	padding: 22px;

	font-size: 18px;
	line-height: 1.5em;
	color: var(--color-third);

	border-radius: 6px;

	background-color: var(--color-invert-key);

	box-shadow: var(--shadow);

	transition: box-shadow 200ms ease-in-out;
}

.input:hover,
.input:focus {
	box-shadow: var(--shadow-active);
}

.input::placeholder {
	font-size: 18px;
	line-height: 1.5em;
	color: inherit;
	font-weight: 500;

	opacity: 1;
}
