.wrapper {
	display: grid;
	row-gap: 20px;
	grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content 1fr;
}

.button {
	text-transform: capitalize;
	font-size: 20px;
}

.search {
	grid-column: span 2;

	width: 100%;
}

.list {
	grid-column: span 2;
}
