.link {
  --message-text-color: var(--color-third);

  display: block;

  background-color: var(--color-invert-key);

  color: var(--message-text-color);
  font-weight: 500;

  border-radius: 6px;

  box-shadow: var(--shadow);

  transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.link:hover,
.link:focus-visible {
  box-shadow: var(--shadow-active);
}
.link-active {
  --message-text-color: var(--color-invert-key);

  background-image: var(--gradient);

  box-shadow: var(--shadow-active);
}

.wrapper {
  display: grid;
  row-gap: 15px;
  grid-template-rows: max-content 1fr;

  width: 100%;
  min-height: 200px;

  padding: 30px 40px 40px;
}

.info {
  display: flex;
  justify-content: space-between;

  --user-chat-info-image-color: var(--color-primary);
}

.link-active .info {
  --user-chat-info-image-color: var(--color-invert-key);
  --user-chat-info-name-color: var(--color-key);
  --user-chat-info-action-color: var(--color-invert-key);
}

.message-wrapper {
  position: relative;

  max-height: 80px;

  overflow: hidden;
}

.message {
  line-height: 1.3em;
}

.new-message-count {
  position: absolute;
  right: 0;
  top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  min-height: 20px;

  color: var(--color-invert-key);
  font-size: 13px;

  background-color: var(--color-secondary);

  border-radius: 50%;
}
