.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 20px;

  padding-left: 50px;
  padding-right: 66px;
  padding-bottom: 30px;
  padding-top: 30px;

  background-color: #ffffff;

  border-top: 2px solid rgba(112, 124, 151, 0.15);
}

.form {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  align-items: center;
  column-gap: 20px;
}

.input {
  background-color: inherit;

  box-shadow: none;
}
