.wrapper {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	column-gap: 20px;

	margin-left: 50px;
	margin-right: 66px;
	margin-bottom: 30px;
	margin-top: 30px;

	background-color: #ffffff;

	border-top: 2px solid rgba(112, 124, 151, 0.15);
}

.form {
	display: grid;
	grid-template-columns: 1fr max-content max-content;
	align-items: center;
	column-gap: 20px;
}

.input {
	box-shadow: none;
}
