.list {
  max-height: 100%;

  padding-right: 40px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #ffffff;

  overflow-y: scroll;
}

.message {
  margin-bottom: 15px;
}

.message:last-child {
  margin-bottom: 0;
}

.auth-message {
  margin-left: auto;
}
